/*CSS*/
.myClass{
    color:blue;
}
button{
    padding: 15px;
    margin-left: 42%;
    font-size: 14px;/*Tamaño de fuente 14px*/
    cursor: pointer;
}
div#overlay{
    display: none;
    z-index: 2;
    background: #000000;/*Color de fondo negro*/
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    text-align: center;
}
div#infoUsuario{
    display: none;
    position: relative;
    z-index: 3;
    margin:100px auto 0px auto;
    width: 400px;
    height: 250px;
    background: #ffffff;/*Color de fondo blanco*/
    color: #000000;/*Color negro*/
    border: 4px solid #cccccc;
    font-size: 18px;
}
div#wrapper{
    position: absolute;
    top:40px;
}
#info{
    padding:20px;
}
#datosPersonales{
    width: 100%;
    height: 12%;
    background: #e9e9e9;
    padding: -20px;
    text-align: center;
    font-family:arial;
    font-size: 18px;
    padding-top: 15px;
}